<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>

<!-- SECTION -->
<div class="section" *ngIf="cartTotal > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">Платежный адрес</h3>
          </div>
          <div class="form-group">
            <input class="input" type="text" name="first-name" placeholder="Имя">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="last-name" placeholder="Фамилия">
          </div>
          <div class="form-group">
            <input class="input" type="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="address" placeholder="Адрес">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="city" placeholder="Город">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="country" placeholder="Страна">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="zip-code" placeholder="Почтовый индекс">
          </div>
          <div class="form-group">
            <input class="input" type="tel" name="tel" placeholder="Телефон">
          </div>
          <div class="form-group">
            <div class="input-checkbox">
              <input type="checkbox" id="create-account">
              <label for="create-account">
                <span></span>
                Создать Аккаунт?
              </label>
              <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <input class="input" type="password" name="password" placeholder="Введите ваш пароль">
              </div>
            </div>
          </div>
        </div>
        <!-- /Billing Details -->

        <!-- Shiping Details -->
        <div class="shiping-details">
          <div class="section-title">
            <h3 class="title">Адрес доставки</h3>
          </div>
          <div class="input-checkbox">
            <input type="checkbox" id="shiping-address">
            <label for="shiping-address">
              <span></span>
              Доставить по другому адресу?
            </label>
            <div class="caption">
              <div class="form-group">
                <input class="input" type="text" name="first-name" placeholder="Имя">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="last-name" placeholder="Фамилия">
              </div>
              <div class="form-group">
                <input class="input" type="email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="address" placeholder="Адрес">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="city" placeholder="Город">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="country" placeholder="Страна">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="zip-code" placeholder="Почтовый индекс">
              </div>
              <div class="form-group">
                <input class="input" type="tel" name="tel" placeholder="Телефон">
              </div>
            </div>
          </div>
        </div>
        <!-- /Shiping Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="Детали заказа"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Ваш Заказ</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>ТОВАР</strong></div>
            <div><strong>ИТОГ</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let c of cartData.data">
              <div>{{c.numInCart}} x {{c.product.name}}</div>
              <div>{{(c.product.price * c.numInCart) | currency: ''}}</div>
            </div>
          </div>
          <div class="order-col">
            <div>Доставка</div>
            <div><strong>БЕСПЛАТНО</strong></div>
          </div>
          <div class="order-col">
            <div><strong>ИТОГ</strong></div>
            <div><strong class="order-total">{{cartTotal | currency: 'RUB'}}</strong></div>
          </div>
        </div>
        <div class="payment-method">
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-1">
            <label for="payment-1">
              <span></span>
              Банковский Перевод
            </label>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-2">
            <label for="payment-2">
              <span></span>
              Оплата при получении
            </label>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-3">
            <label for="payment-3">
              <span></span>
              Paypal
            </label>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">
            <span></span>
            Я прочитал и принимаю <a href="#">правила & условия</a>
          </label>
        </div>
        <button class="btn btn-outline-danger btn-sm my-2  btn-block order-submit" (click)="onCheckout()">Разместить заказ</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0;">
  <h4>Ваша корзина пуста</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">ВЕРНУТЬСЯ В МАГАЗИН</button>
</div>
