<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">Спасибо!</h1>
        <p class="lead"><strong>Пожалуйста, проверьте свою электронную почту</strong> для подтверждения заказа.</p>
        <hr>
        <p>

        <p>Номер Заказа : <strong>{{orderId}}</strong></p>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Изображение</th>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>
            <img [src]="p.image" alt="{{p.name}}" class="img-thumbnail" width="100px">
          </td>
          <td>{{p.name}}</td>
          <td>{{p.price | currency:'USD'}}</td>
          <td>{{p.quantityOrdered}}</td>
        </tr>

        <tr class="border-0">
          <td style="border: none;"></td>
          <td></td>
          <td>ИТОГ</td>
          <td>{{cartTotal | currency:'USD'}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
