<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a routerLink="/contacts"><i class="fa fa-phone"></i> +7-950-966-41-62</a></li>
        <li><a routerLink="/contacts"><i class="fa fa-envelope-o"></i> email@gmail.com</a></li>
        <li><a routerLink="/contacts"><i class="fa fa-map-marker"></i> СФУ ИКИТ</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a routerLink="/profile"><i class="fa fa-user-o"></i> {{authState === false ? 'ВХОД' : 'Мой Аккаунт'}} </a></li>
        <li *ngIf="!authState"><a routerLink="/register"><i class="fa fa-user-plus"></i> РЕГИСТРАЦИЯ</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a class="logo">
              <span class="shlyapa"><img src="https://www.freepnglogos.com/uploads/cowboy-hat-png/brown-cowboy-hats-png-download-8.png" width="100" height="80">Логотип</span>
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <mat-select placeholder="Ищите здесь" [(ngModel)]="inpt">
                <input class="input" [formControl]="pSelect" (ngModelChange)="searchProducts(pSelect)">
                <mat-option *ngFor="let p of products">
                  {{p.name}}
                </mat-option>
              </mat-select>
              <button class="search-btn">Поиск</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer">
                <i class="fa fa-heart-o"></i>
                <span>Избранное</span>
                <div class="qty">{{favData.data[0].numInFav !== 0 ? favData.data.length : 0}}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="favData.data[0].numInFav !== 0">
                  <div class="product-widget" *ngFor="let c of favData.data; let i = index">
                    <div class="product-img">
                      <img [src]="c.product?.image" alt="{{c.product.name}}" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{c.product.name}}</a></h3>
                      <h4 class="product-price"><span class="qty">{{c.numInFav}} x </span> <i class="fa fa-ruble"></i> {{c.product?.price}} </h4>
                    </div>
                    <button class="delete" (click)="favService.DeleteProductFromFav(i)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{favData.data[0].numInFav !== 0 ? favData.data.length : 0}} Товар(ов) выбрано</small>
                </div>
              </div>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer">
                <i class="fa fa-shopping-cart"></i>
                <span>Ваша Корзина</span>
                <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !== 0">
                  <div class="product-widget" *ngFor="let c of cartData.data; let i = index">
                    <div class="product-img">
                      <img [src]="c.product?.image" alt="{{c.product.name}}" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{c.product.name}}</a></h3>
                      <h4 class="product-price"><span class="qty">{{c.numInCart}} x </span> <i class="fa fa-ruble"></i> {{c.product?.price}} </h4>
                    </div>
                    <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} Товар(ов) выбрано</small>
                  <h5>TOTAL: <i class="fa fa-ruble"></i> {{ cartTotal }}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">Посмотреть Корзину</a>
                  <a routerLink="/checkout">Оформление  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Меню</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/hotdeals">Горячие предложения</a></li>
        <li><a routerLink="/catalog">Категории</a></li>
        <li><a routerLink="/contacts">Контакты</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
